@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    min-height: 100vh;
    background: #111;
    color: #fff;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.video-container video {
    width: 50%;
    max-width: 800px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
    .video-container video {
        width: 70%;
        max-width: 600px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .video-container {
        padding: 1rem;
        min-height: 80vh;
    }
    
    .video-container video {
        width: 90%;
        max-width: none;
    }
}
